.containerC {
    margin: 1rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #D0D0D0;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imagewrapperC {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
  position: relative;
  overflow: hidden;
}

.contentC {
  width: 90%;
  margin-left: 20px;
}

.titlewrapperC {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 24px;
  margin-top: 20px;
}

.leftC {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconC {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.productnameC {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #121317;
  margin-left: 10px;
}

.descriptionC {
  height: 20px;
  margin-bottom: 20px;
}

.descriptiontextC {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #AEAEAE;
}

.priceC {
  display: flex;
  align-items: center;
  height: 30px;
}

.pricecurrencyC {
  margin: 0 10px ;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #50AF95;
}

.priceamountC {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 20px;
  color: #50AF95;
}

.specificationsC {
  display: flex;
  justify-content: space-between;
  margin-top: 20px ;
}

.specificationyearC {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #AEAEAE;
}

.specificationdistanceC {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #AEAEAE;
}

.locationC {
  display: flex;
  align-items: center;
  margin-top: 20px ;
  margin-bottom: 20px;
}

.locationtextC {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #AEAEAE;
  margin-left: 8px;
}